In [1]:
import pandas as pd
import numpy as np

location = r"C:\Users\William\Desktop\formação\mit\code\quizz_numpy_pandas\odi.csv"

dataframe = pd.read_csv(location)

In [2]:
dataframe.head()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
3,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
4,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"

In [3]:
dataframe.dtypes.value_counts()

object    7
dtype: int64

In [4]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3932 entries, 0 to 3931
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Scorecard   3932 non-null   object
 1   Team 1      3932 non-null   object
 2   Team 2      3932 non-null   object
 3   Winner      3932 non-null   object
 4   Margin      3753 non-null   object
 5   Ground      3932 non-null   object
 6   Match Date  3932 non-null   object
dtypes: object(7)
memory usage: 215.2+ KB

In [11]:
dataframe.iloc[49]

Scorecard            ODI # 50
Team 1                England
Team 2               Pakistan
Winner                England
Margin               132 runs
Ground             Manchester
Match Date    May 24-25, 1978
Name: 49, dtype: object

In [20]:
dataframe[dataframe["Winner"] == "Australia"].count()

Scorecard     555
Team 1        555
Team 2        555
Winner        555
Margin        555
Ground        555
Match Date    555
dtype: int64

In [21]:
dataframe[dataframe["Winner"] == dataframe["Team 2"]].count()

Scorecard     1637
Team 1        1637
Team 2        1637
Winner        1637
Margin        1635
Ground        1637
Match Date    1637
dtype: int64